@page
@model IndexModel
@{
    ViewData["Title"] = "Swanika Enterprises Web App";
}

<div class="text-center">
    <h1 class="display-4">Swanika Enterprises Web App</h1>
    <p>Welcome to Swanika Enterprises Web App</p>
</div>
